
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }

        h2 {
            color: #343a40;
            text-align: center;
            margin: 20px 0;
        }

        table {
            width: 80%;
            margin: 0 auto;
            background-color: #ffffff;
            border-collapse: collapse;
        }

        th {
            background-color: #343a40;
            color: white;
        }

        td,
        th {
            padding: 15px;
            text-align: center;
            border: 1px solid #dee2e6;
        }

        .eval-btn {
            background-color: #28a745;
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
        }

        .eval-btn:hover {
            background-color: #218838;
        }

        .star-rating {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
        }

        .star-rating input {
            display: none;
        }

        .star-rating label {
            cursor: pointer;
            font-size: 30px;
            color: #ddd;
        }

        .star-rating input:checked~label,
        .star-rating label:hover,
        .star-rating label:hover~label {
            color: #f39c12;
        }